APP_ENV=dev
#APP_DEBUG=1
APP_NAME="My App"
APP_BIN=app
LOG_LEVEL=trace
LOG_COLOR=on
#LOG_FILE=app.log
LOG_FILTER=!sqlx,!actix,!mio

# Web
WEB_HOST=app.local:18080
WEB_HOSTNAME=app.local
WEB_URL=http://app.local:18080
WEB_TRUSTED_HOSTS=app.local,localhost,127.0.0.1
WEB_ACCEPT_HOSTS=www.recaptcha.net,www.gstatic.com,www.google.com,youtube.com
WEB_API_URL=http://app.local:18080/api
WEB_API_PROXY_URL=http://127.0.0.1:3000

# Dirs
CONFDIR=./config

# Cargo
RUST_BACKTRACE=1

# Database
DATABASE_DRIVER=postgresql
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=app
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
DATABASE_LANG=ru_RU
DATABASE_LOCALE=ru_RU.UTF-8
#DATABASE_URL=postgresql://postgres:123456@postgres:5432/app
DATABASE_URL=postgresql:///?user=postgres&password=123456&host=/var/run/postgresql&dbname=app&sslmode=disable
DATABASE_MAX_CONNECTIONS=100
DATABASE_SCHEMA=app,api,anon,auth,public
